</pre>


<h3>Efficiency vs. distance</h3>

<table>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-mueller_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-mueller_long_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-numerical_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-numerical_long_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-piro_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-piro_long_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-rotbar_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-rotbar_long_eff-vs-dist.png"></A></td>
</tr>
</table>



<h2>Efficiencies AFTER Correcting Inclination Distribution</h3>

<h3>Efficiency vs. hrss</h3>
<table>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-mueller_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-mueller_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-numerical_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-numerical_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-piro_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-piro_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-rotbar_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-rotbar_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-sgel_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-sgel_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-sglin_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-sglin_long_eff-vs-hrss.png"></A></td>
</tr>
</table>
<pre>
hrss limits after inclination distribution correction:
======================================================

