</pre>


<h3>Efficiency vs. distance</h3>

<table>
<tr>
<td><A HREF="unifiota/SN2007gr-H1H2L1V1-mueller5_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2007gr-H1H2L1V1-mueller5_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2007gr-H1H2L1V1-numerical3_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2007gr-H1H2L1V1-numerical3_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2007gr-H1H2L1V1-piro5_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2007gr-H1H2L1V1-piro5_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2007gr-H1H2L1V1-rotbar5_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2007gr-H1H2L1V1-rotbar5_eff-vs-dist.png"></A></td>
</tr>
</table>



<h2>Efficiencies AFTER Correcting Inclination Distribution</h3>

<h3>Efficiency vs. hrss</h3>
<table>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-mueller5_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-mueller5_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-numerical3_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-numerical3_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-piro5_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-piro5_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-rotbar5_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-rotbar5_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-sgel2_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-sgel2_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-sglin2_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-sglin2_eff-vs-hrss.png"></A></td>
</tr>
</table>
<pre>
hrss limits after inclination distribution correction:
======================================================

